<ion-view view-title="Current Hunts">

	<ion-header-bar class="bar">
        <h1 class="title">Your Scavenger Hunt</h1>
   	</ion-header-bar>

  	<ion-content>

		<ion-refresher
  			pulling-text="Pull to refresh..."
  			on-refresh="doRefresh()">
		</ion-refresher>

  		<h4 id="noHunt" ng-if="hunt == 0">Hi, {{username.text}}! Join a scavenger hunt or create one from the home page!</h4>

    	<div class="list card huntList" ng-if="hunt != 0">
    		<div class="item ">
    			<h4 class="listTitle">{{hunt.location}} Scavenger Hunt: "{{hunt.id}}"</h4>
    		</div>

			<a class="item item-icon-left" ng-repeat="item in items">
    			<i class="icon emptyCheck ion-android-checkbox-outline-blank"></i>
    			<p style="color:#696969 !important">{{item}}</p>
  			</a>

    	</div>

    	<!-- <div class="bottom-buttons">
    		<button class="button button-calm">
    			Leave
    		</button>
    		<button class="button button-calm">
    			Scoreboard
    		</button>
    		<button class="button button-calm" ng-click="takePicture()">
    			Take Picture
    		</button>
      	</div> -->
  	</ion-content>
</ion-view>
