<ion-view>
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>


    <img src="img/slice1.png" class="logoImg">

    <p class="locationSlogan">Create or start a scavenger hunt, link up with friends and take pictures of items to cross them off the list!</p>

      
      <a href="#/tab/home/create">
        <button class="button button-calm locationButton">
          Create
        </button>
      </a>
      
      <button class="button button-calm locationButton" ng-click="joinHunt()">
        Join
      </button>


  </ion-content>
</ion-view>
