<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-android-home" icon-on="ion-android-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Current Tab -->
  <ion-tab title="Current Hunt" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong" href="#/tab/current">
    <ion-nav-view name="tab-current"></ion-nav-view>
  </ion-tab>

  <!-- Past Tab -->
  <ion-tab title="Past Hunts" icon-off="ion-images" icon-on="ion-images" href="#/tab/past">
    <ion-nav-view name="tab-past"></ion-nav-view>
  </ion-tab>


</ion-tabs>
