ion-content {
	/*background-color: #F2F2F2 !important;*/
	background: url(../img/slice3.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-mox-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.locationSlogan {
	color: white;
	font: 16px "Lato", sans-serif !important;
	margin-top: 30px;
	margin-left: 17px;
	margin-right: 17px;
	text-align: center;
}

.locationButton {
	display: block;
	font: 18px "Lato", sans-serif !important;
	margin-top: 20px;
	background-color: #72C5BB !important;
	color: white;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px 20px;
}

.logoImg {
	display: block;
	max-width: 75%;
	max-height: 37%;
	margin-top: 70px;
	margin-right: auto;
	margin-left: auto;
}

.header {
	padding-top: 20%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #464646 !important;
	font-family: 'Lobster', cursive;
	font-size: 56px;
}

.listTitle {
	font: 16px "Lato", sans-serif !important;
	font-weight: 700 !important;
	color: #464646 !important;
	text-align: center;
}

.button.button-calm, button.button-calm.activated {
	width: 9em;
	background-color: #72C5BB !important;
	color: #EBEBEB;
}

button.button-calm.activated {
	background-color: #72C5BB !important;
}

.button-stable {
	background-color: #C4C4C4 !important;
}

.button_div {
	margin-top: 7%;
	text-align: center;
	width: 100%;
}

.home-button {
	margin-left: 6%;
	margin-right: 6%;
	border-radius: 10px 10px;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #72C5BB;
}

h1 {
	font-weight: 700;
	color: #464646 !important;
    bottom: -38px;
	text-align: center;
	margin: auto;
}

#back {
	color: #464646 !important;
	font-size: 22px;
	bottom: 0px;
}

.popup-body {
	background-color: rgba(246,246,246,1) !important;
    opacity: 1.0 !important;
    z-index: 100000 !important;
}

.popup-head {
	background-color: rgba(246,246,246,1) !important;
    opacity: 1.0 !important;
    z-index: 100000 !important;
}

a {
	text-decoration: none;
}

#noHunt {
	text-align: center;
	margin-left: 7%;
	margin-right: 7%;
	color: white !important;
	font-family: 'Lato' !important;
	font-weight: 700 !important;
	text-align: center;
	padding-top: 30%;

}

.item.item-divider {
	text-align: center;
}


.huntList {
	margin: 35px;
}


.emptyCheck, .ion-android-checkbox-outline-blank {
	color:#696969 !important;
	font-size: 160% !important;
}

.emptyCheck, .ion-android-checkbox-outline {
	color:#696969 !important;
	font-size: 160% !important;
}